{{ define "main" }}

<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1>{{.Title}}</h1>
      </div>
    </div>
    {{ range $index, $element := (where .Site.RegularPages "Section" "blog") }}
    {{- if ne (mod $index 2) 1 }}
    <div class="row mb-40">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        {{ $imagePath := printf "/%s" .Params.image }}
        {{ $res := resources.Get $imagePath }}
        {{- $ws := slice 200 300 500 -}}
        {{- $srcset := slice -}}
        {{- range $ws -}}
        {{/* to avoid creating an image that is larger than the source */}}
        {{- if (le . $res.Width) -}}
        {{- $w := printf "%dx" . -}}
        {{- $url := ($res.Resize $w).RelPermalink | safeURL -}}
        {{- $fmt := printf "%s %dw" $url . -}}
        {{- $srcset = $srcset | append $fmt -}}
        {{- end -}}
        {{- end -}}
        {{- $set := delimit $srcset "," -}}
        {{ with $res }}
        <figure>
        <img      
        srcset="{{ $set }}"
        sizes="(max-width: 699px) 80vw, (min-width: 700px) 40vw"
        src="{{ $res.RelPermalink }}"
        alt="{{ .Params.alt }}"
        width="80%"
        height="auto"/>
            </figure>
        {{ end }}
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading"><a class="link-title" href="{{.Permalink}}">{{ .Title | markdownify }}</a></h4>
          <p>{{ .Summary }}</p>
          <a href="{{ .Permalink }}" class="btn btn-main btn-main-sm">{{ i18n "read_more" }}</a>
        </div>
      </div>
    </div>
    {{- else }}
    <div class="row mb-40">
      <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading"><a class="link-title" href="{{.Permalink}}">{{ .Title | markdownify }}</a></h4>
          <p>{{ .Summary }}</p>
          <a href="{{ .Permalink }}" class="btn btn-main btn-main-sm">{{ i18n "read_more" }}</a>
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
        {{ $imagePath := printf "/%s" .Params.image }}
        {{ $res := resources.Get $imagePath }}
        {{- $ws := slice 200 300 500 -}}
        {{- $srcset := slice -}}
        {{- range $ws -}}
        {{/* to avoid creating an image that is larger than the source */}}
        {{- if (le . $res.Width) -}}
        {{- $w := printf "%dx" . -}}
        {{- $url := ($res.Resize $w).RelPermalink | safeURL -}}
        {{- $fmt := printf "%s %dw" $url . -}}
        {{- $srcset = $srcset | append $fmt -}}
        {{- end -}}
        {{- end -}}
        {{- $set := delimit $srcset "," -}}
        {{ with $res }}
        <figure>
        <img    
        srcset="{{ $set }}"
        sizes="(max-width: 699px) 80vw, (min-width: 700px) 40vw"
        src="{{ $res.RelPermalink }}"
        alt="{{ .Params.alt }}"
        width="80%"
        height="auto"/>
        </figure>
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>

{{ end }}