{{ define "main" }}

<style>
	.image-thanks {
	background-image: url('/assets/img/thanks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	}
</style>

{{ "<!-- 404 page -->" | safeHTML }}
<section class="section image-thanks" style="color:white !important;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="block">
					<h1 class="font-weight-bold mb-4 font-size-60">{{ .Params.title | markdownify }}</h1>
					<p class="mb-4"><b>{{ .Params.subtitle | markdownify }}</b></p>
					<a href="{{ site.BaseURL | relLangURL }}" class="btn btn-main">{{ .Params.button | markdownify }}</a>
				</div>
			</div>
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- header close -->
{{ "<!-- /404 page -->" | safeHTML }}

{{ end }}

